.gradient-bg {
  background: linear-gradient(225deg, #ffd93d, #f6f1e9, #ffd93d);
  background-size: 200% 200%;
  animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
* {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.name input::placeholder,
.email input::placeholder,
.phone input::placeholder,
.password input::placeholder {
  color: #acacac;
}
